## Dealing with Missing

In [5]:
import pandas as pd
from io import StringIO

data = '''A,B,C,D 
1.0,2.0,3.0,4.0
5.0,6.0,,8.0
10.0,11.0,12.0,'''

df = pd.read_csv(StringIO(data)) 
#Stringio help read the data as file since read_csv expects csv data as file

print(df)
print(df.isnull().sum())

print(df.values)

      A     B     C   D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN
A     0
B     0
C     1
D     1
dtype: int64
[[ 1.  2.  3.  4.]
 [ 5.  6. nan  8.]
 [10. 11. 12. nan]]

ELiminating missing values

In [ ]:
df.dropna(axis = 0) # ELimanatin rows with nan

print(df.dropna(axis = 0))

df.dropna(axis=1) # eliman column

print(df.dropna(axis = 1))

# To drop the colum with all nan  uses how = all instead of the axis =1

# to drop only specific column use subset = 'Column Name'ArithmeticError

# To drop only the rows with fewer than no use thres = 'No'ArithmeticError

     A    B    C   D
0  1.0  2.0  3.0  4.0
      A     B
0   1.0   2.0
1   5.0   6.0
2  10.0  11.0

Inputting   The missing values using imput

In [ ]:
from sklearn.impute import SimpleImputer
import numpy as np

miss = SimpleImputer(missing_values= np.nan,strategy= "mean")
miss.fit(df.values)
Impute_Data = miss.transform(df.values)

print(Impute_Data)

# Also we can use ; it replaces the nan with mean

print(df.fillna(df.mean()))

[[ 1.   2.   3.   4. ]
 [ 5.   6.   7.5  8. ]
 [10.  11.  12.   6. ]]
      A     B     C   D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   7.5  8.0
2  10.0  11.0  12.0  6.0

# HANDLING CATEGORICAL DATA